@charset "utf-8";
/* CSS Document */

html, html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header{
	padding: 30px;
}

img{
	width: 100%;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
.style-logo{
	margin-left: auto;	
	margin-right: auto;
	display: block;
	width:192px;
}

.row:before, .row:after{
	content: "";
	display: block;
}

.row:after{
	clear:both ;
}

.col{
	width: 100%;
}

/* Tablet View */

@media (min-width: 768px){
	
	.style-nav ul li{
		display: inline-block;
	}
	
	.style-nav ul{
		text-align: center;
	}
	
	h1{
		font-size: center;
		margin-bottom: 90px;
	}
	
	.col-md-one-half{
			width: 25%;
	}
	
	.col{
	float:right;
	padding: 0px 10px 13px;
	}
}


/* Desttop View */		

@media (min-width: 1024px){
	.style-logo{
		float: left;
	}
	.col-lg-one-fourth	{
		width: 25%;
	}
	
	.col{
	float: left;
	padding: 0px 10px 13px;
	}
}